* {
        background-image: none;
        box-shadow: none;
}

window {
        background-color: rgba(0, 0, 0, 0.1);
}

button {
        border-radius: 14px;
        text-decoration-color: #FFFFFF;
	color: #FFFFFF;
	border: none;
        background-color: alpha(#1E1E2E, 0.8);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20%;
}

button:focus, button:active {
        background-color: #aca3c9;
	background-size: 30%;
        outline-style: none;
}

 button:hover {
        background-color: #aca3c9;
        background-size: 30%;
        outline-style: none;
	animation: gradient_f 20s ease-in infinite;
    	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
