@import "colors.css";

 :root {
    --3d-shadow:
    inset 0 1px 2px #FFFFFF26,
    0 2px 4px #00000066;
}

@define-color text            @on_secondary_container; /* #cdd6f4; */
@define-color background-alt  alpha(@surface, 1); /* alpha(#1E1E2E, 1); */
@define-color selected        @primary; /* #aca3c9; */
@define-color hover           @on_secondary; /* alpha(#aca3c9, .4) */
@define-color urgent          #FF0000;
@define-color uplayer	      @secondary_container;

* {
  color:            @text;

  min-height: 0;
  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;

}

/* Avoid 'annoying' backgroud
.control-window {  
  background: transparent;  
}

*/

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background-color: alpha(@background-alt, 0.7); 
  border-radius: 8px;
  border: 1px solid @selected;
  box-shadow: 0 0 5px 0 rgba(0,0,0,1);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: alpha(@background-alt, 0.7);
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @text;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255,255,255,.1);
}


trough highlight {
    background: @selected;
}
scale trough {
    margin: 0rem 1rem;
    background-color: @background-alt;
    min-height: 8px;
    min-width: 70px;
}

slider {
    background-color: @selected;
}


/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: alpha(@background-alt, 0.7);
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

  /* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: alpha(@background-alt, 0.7);
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @selected;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 6px;
}

  /* Buttons menu */
.widget-buttons-grid > flowbox {
    padding: 6px;
    margin: 5px;
    background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild {
    min-width: 45%;
    padding: 3px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: alpha(@background-alt, 0.7);
    color: @selected;
    border-radius: 25px;
    padding: 12px 48px;
    margin: 3px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */

/* Mpris widget */
.widget-mpris {
  padding: 0;
  /* The parent to all players */
  margin-top: 0;
  border-radius: 30px;
}

.widget-mpris .widget-mpris-player {
  border-radius: 30px;
  box-shadow: 0px 0px 10px #000000BF;
}

.widget-mpris .widget-mpris-player .mpris-background {
  filter: blur(6px);
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background-color: #0000008C;
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: #8282824D;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: 30px;
  box-shadow: 0px 0px 10px #000000BF;
  -gtk-icon-size: 96px;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
  font-weight: normal;
  font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay>box>button {
  /* Change player control buttons */
  box-shadow: var(--3d-shadow);
  transition: all 0.26s ease;
}

.widget-mpris .widget-mpris-player .mpris-overlay>box>button:hover {
  transform: translateY(-2px);
  transform: scale(1.06);
}

.widget-mpris>box>button {
  /* Change player side buttons */
  border-radius: 30px;
}

.widget-mpris>box>button:disabled {
  /* Change player side buttons insensitive */
}


/* Volume */ 
.widget-volume {
  background: alpha(@uplayer, 0.3);
  color: @selected;
  padding: 10px;
  margin: 6px;
  border-radius: 6px;
}
